<div class="container">
    <div class="games" *ngFor="let category of gamesCategories">
        <div class="container">
            <div class="row">
                <div class="category">
                    <div class="icon">
                        <img src="assets/images/category-icons/{{category.cat_name}}.png" alt="">
                    </div>
                    <div class="title">
                        {{category.cat_name}}
                    </div>
                    <div class="see-all">
                        {{'SEE_ALL' | translate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <app-slider [sliderGames]="category.games_list" [numberOfSlides]="3" [autoPlay]="false" [withGameDescription]="true"></app-slider>
            </div>
        </div>
    </div>
</div>