<ngx-aside #NgxAsidePanelLeft class="sidePanel" [showDefaultFooter]="false" [showDefaultHeader]="false"
    [position]="'left'">
    <header>
        <div class="container">
            <div class="row">
                <div class="exit-nav" (click)="NgxAsidePanelLeft.hide()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="user-details">
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-4">
                        <div class="user-image">
                            <img src="{{userDetails?.user_photo}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="user-name">
                        {{userDetails?.user_name}}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="menu-items">
            <div class="item">
                <button routerLink="/home/games/lobby" (click)="NgxAsidePanelLeft.hide()">
                    {{'HOME' | translate}}
                </button>
            </div>
            <div class="item">
                <button routerLink="" (click)="NgxAsidePanelLeft.hide()">
                    {{'MY_PROFILE' | translate}}
                </button>
            </div>
            <div class="item">
                <button routerLink="" (click)="NgxAsidePanelLeft.hide()">
                    {{'MY_FAVORITES' | translate}}
                </button>
            </div>
            <div class="item">
                <button routerLink="" (click)="NgxAsidePanelLeft.hide()">
                    FAQ
                </button>
            </div>
            <div class="item">
                <button routerLink="" (click)="NgxAsidePanelLeft.hide()">
                    {{'UNSUBSCRIBE' | translate}}
                </button>
            </div>
            <div class="item">
                <button routerLink="" (click)="NgxAsidePanelLeft.hide()">
                    {{'LOGOUT' | translate}}
                </button>
            </div>
        </div>
    </div>
</ngx-aside>
<div class="menu-button">
    <button (click)="NgxAsidePanelLeft.show()">
        <i class="fas fa-bars"></i>
    </button>
</div>