<ngx-aside #NgxAsidePanelLeft class="sidePanel" [showDefaultFooter]="false" [showDefaultHeader]="false" [position]="'left'">
    <header>
        <div class="container">
            <div class="row">
                <div class="exit-nav" (click)="NgxAsidePanelLeft.hide()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="user-details">
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-4">
                        <div class="user-image">
                            <img src="../../../favicon.ico" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="user-name">
                        Ahmed Yehia
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="menu-items">
            <div class="item">Home</div>
            <div class="item">My profile</div>
            <div class="item">My Favorites</div>
            <div class="item">FAQ</div>
            <div class="item">Unsubscribe</div>
            <div class="item">Logout</div>
        </div>
    </div>
</ngx-aside>
<div class="menu-button">
    <button (click)="NgxAsidePanelLeft.show()">
        <i class="fas fa-bars"></i>
    </button>
</div>