<div class="header-container">
    <div class="nav">
        <app-side-nav [hidden]="!isUserExist || isBackDisabled"></app-side-nav>
        <div class="back">
            <button routerLink="/home/games/lobby" *ngIf="isBackDisabled && isUserExist">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>
    <div class="logo">
        <img src="assets/images/common/logo-text.png" alt="">
    </div>
    <div class="header-panel">
        <div class="icon">
            <div class="menu-button">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="icon">
            <app-select-country></app-select-country>
        </div>
    </div>
</div>