<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="credentials-field">
        <input type="password" [(ngModel)]="password" placeholder="{{'PASSWORD' | translate}}">
        <div class="row">
          <div class="forgot-password">
            <button (click)="forgotPassword()">
              {{'FORGOT_PASSWORD' | translate}}
            </button>
          </div>
        </div>
        <div class="row" [hidden]="!isSMSSent">
          <div class="sms-sent">
            {{'SMS_PASSWORD_SENT' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="error-container" [hidden]="isPasswordCorrect">
      {{'INCORRECT_PASSWORD' | translate}}
    </div>
  </div>
  <div class="row">
    <div class="triangle-button">
      <button (click)="loginUser()">
        <img src="{{'LOGIN_BUTTON' | translate}}" alt="">
      </button>
    </div>
  </div>
</div>