.forgot-password{
    color: yellow;
    text-align: center;
    font-size: 15px;
    button{
        background: none;
        border: none;
        :focus{
            outline: none;
        }
    }
}