.credentials-field {
    margin-bottom: 15%;
  }
  
  :host ::ng-deep .credentials-field input:focus {
    outline: none;
  }
  
  :host ::ng-deep .credentials-field input {
    border: none;
    border-bottom: 1px solid #4c4c4d;
    background-color: transparent;
    width: 100%;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 3vw;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
    font-weight: bold;
  }
  
  :-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-weight: bold;
  }
  
  ::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    font-weight: bold;
  }
  
  :-ms-input-placeholder {
    text-align: center;
    font-weight: bold;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #5c5c5d;
  }