.error-container {
    color: white;
    font-size: 18px;
    text-align: center;
    font-style: italic;
  }
  .login-form {
    margin-top: 30%;
  }
  
  .welcome-container {
    text-align: center;
  }
  
  .welcome-container img {
    width: 40vw;
    margin-top: 30%;
  }
  .next-button {
    text-align: center;
  }
  
  .next-button button {
    background: none;
    border: none;
  }
  
  .next-button button:focus {
    outline: none;
  }
  
  .next-button button img {
    width: 25vw;
  }
  
  .subscribe-text {
    color: #cdcece;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .subscribe-button {
    text-align: center;
  }
  
  .subscribe-button button {
    background: none;
    border: none;
  }
  
  .subscribe-button button:focus {
    outline: none;
  }
  
  .subscribe-button button img {
    width: 25vw;
  }  