<div class="container">
  <div class="row">
    <div class="welcome-container">
      <img src="assets/images/login/login-welcome.png" alt="">
    </div>
  </div>
</div>
<div class="login-form">
  <app-username [countryCode]="countryCode" (number)="getPhoneNumber($event)" (requirePassword)="isPasswordRequired($event)" [hidden]="requirePassword"></app-username>
  <app-password *ngIf="requirePassword" [phoneNumber]="phoneNumber"></app-password>
  <div class="container">
    <div class="row">
      <div class="subscribe-text">
        {{'NOT_SUBSCRIBED' | translate}}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="subscribe-button">
        <button (click)="Subscribe()">
          <img src="{{'SUBSCRIBE_BUTTON' | translate}}" alt="">
        </button>
      </div>
    </div>
  </div>
</div>