<div class="slider-container">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let game of sliderGames">
      <div class="game-container" [ngStyle]="{'padding-right': withGameDescription ? '15px' : '0px' }" routerLink="/game/{{game.game_type}}/{{game.game_id}}">
        <div class="image-container" *ngIf="withGameDescription">
          <img src="{{game.game_thumb}}">
        </div>
        <div class="image-large-container" [hidden]="withGameDescription">
          <img src="{{game.game_photo}}">
        </div>
        <div *ngIf="withGameDescription">
          <div class="title">
            {{game.game_name}}
          </div>
          <div class="footer">
            <div class="vendor">
              {{game.game_vendor}}
            </div>
            <div class="game-type">
              <div class="icon" [hidden]="game.game_type==='easy'">
                  <i class="fas fa-download"></i>
              </div>
              <div class="icon" *ngIf="game.game_type==='easy'">
                  <i class="fas fa-play"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick>
</div>