<app-slider [sliderGames]="featuredGames" [numberOfSlides]="1" autoPlay="false" [withGameDescription]="false">
</app-slider>
<div class="container">
  <div class="row">
    <div class="tabs-container">
      <div>
        <button routerLink="/home/games/online" routerLinkActive="active-tab">
          {{'ONLINE' | translate}}
        </button>
      </div>
      <div>
        <button routerLink="/home/games/lobby" routerLinkActive="active-tab">
          {{'HOME' | translate}}
        </button>
      </div>
      <div>
        <button routerLink="/home/games/android" routerLinkActive="active-tab">
          {{'ANDROID' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>