/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

aside {
    background-color: rgb(70, 73, 81) !important;
    padding: 0px !important;
}

header {
    background-color: #a2a2a2;
}

.menu-button button {
    border: none;
    background: none;
    color: white;
    font-size: 30px;
}