<div class="detail-container">
  <div class="game-banner">
    <img src="{{gameDetails?.game_photo}}" alt="">
  </div>
  <div class="game-header">
    <div class="thumb">
      <img src="{{gameDetails?.game_thumb}}" alt="">
    </div>
    <div class="thumb-details">
      <div class="name">
        NAME
      </div>
      <div class="vendor">
        VENDOR
      </div>
      <div class="labels">
        <div class="icon">
          ICON
        </div>
        <div class="icon">
          ICON
        </div>
        <div class="category">
          CATEGORY
        </div>
      </div>
    </div>
  </div>
</div>