<div class="detail-container">
  <div class="game-banner">
    <img src="{{gameDetails?.game_photo}}" alt="">
  </div>
  <div class="game-header">
    <div class="thumb">
      <img src="{{gameDetails?.game_thumb}}" alt="">
    </div>
    <div class="thumb-details">
      <div class="name">
        {{gameDetails?.game_name}}
      </div>
      <div class="sub-details">
        <div class="vendor">
          By {{gameDetails?.game_vendor}}
        </div>
        <div class="category">
          {{gameDetails?.game_cat}}
        </div>
        <div class="interaction">
          <div class="icon" [ngStyle]="{'color' : gameDetails?.gameIsFav ? 'red' : 'white'}">
            <button>
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div class="icon" [ngStyle]="{'color' : gameDetails?.gameIsLiked ? 'red' : 'white'}">
            <button (click)="toggleLike()">
              <i class="fas fa-thumbs-up"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="game-description">
    {{gameDetails?.game_desc}}
  </div>
  <div class="game-button">
    <button (click)="playGame()">
      <img src="../../../assets/svg/Download Now & Play Now.svg" alt="">
      <div class="button-type" *ngIf="gameDetails?.game_type === 'andriod'">
        {{'DOWNLOAD' | translate}}
      </div>
      <div class="button-type" [hidden]="gameDetails?.game_type === 'andriod'">
        {{'PLAY' | translate}}
      </div>
    </button>
  </div>
  <form #form="ngForm" (ngSubmit)="submitReview(review.value)">
    <div class="game-reviews">
      <textarea name="review" placeholder="Type your review here" #review="ngModel" ngModel id="review" cols="30" rows="10" required></textarea>
      <button [disabled]="form.invalid" [ngStyle]="{'background-color' : review.valid ? '#009edd' : 'grey'}">Send</button>
    </div>
  </form>
  <div class="player-reviews" *ngFor="let review of gameDetails?.game_comments">
    <div class="player-details">
      <div class="image">
        <img src="{{review?.user_photo}}" alt="">
      </div>
      <div class="name">
        {{review?.user_name}}
      </div>
    </div>
    <div class="player-review">
      {{review?.user_comment}}
    </div>
  </div>
</div>